<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SourceCosmosDBEndPointUrl" value="https://accountname.documents.azure.com:443/"/>
    <add key="SourceCosmosDBAuthorizationKey" value="accountkey"/>
    <add key="SourceDatabaseName" value="DatabaseName"/>
    <add key="SourceCollectionName" value="CollectionName"/>
    <add key="pkRangeIdsToUse" value=""/>

    <add key="DestCosmosDBEndPointUrl" value="https://accountname.documents.azure.com:443/"/>
    <add key="DestCosmosDBAuthorizationKey" value="accountkey"/>
    <add key="DestDatabaseName" value="DatabaseName"/>
    <add key="DestCollectionName" value="CollectionName"/>

  </appSettings>
</configuration>
